.img_center{
    justify-content: center;
    display: flex;
}

.blog_img{
    width: 80%;
    height: 570px;
    overflow: hidden;        
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.blog_img > img{
    width: 100%;
    border: 2px solid white;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post_title{
    font-size: 43px !important;
    text-align: left;
    font-weight: 400 !important;
}

.post_author_details{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 14px;
    float: left;
}

.post_author_details > div {
    float: left;
}

.post_author_details > span {
    margin-top: 12px;
}

.author_name_create{
    margin-top: 10px;
    margin-left: 8px;
}

.author_name_create .author_name{
    color: white;
    font-weight: 600;
}

.blog_sperate{
    width: 100%;
    border: 1px solid #2b2b2b;
}

/* Post desc content style */
.postContent{
    
}

.postContent blockquote{
    /* background-color: #777777; */
    color: #777777;
    font-size: 22px;
    font-weight: 500;
    margin: 0px;
    padding-left: 40px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    position: relative;
    border-left: 5px solid #929090;
    border-radius: 19px;
}

/* .postContent blockquote:before{
    content: "\0312";
    position: absolute;
    top: -62px;
    left: 0;
    color: #d0d0d0;
    font-size: 173px;
} */