.pagination{
    width: 100%;
    margin-top: 25px;
    justify-content: center;
    display: flex;
}

.pagination ul > li > a,
.pagination ul > li > div{
    color: white;
}

.MuiCardHeader-title {
    font-size: 28px !important;
}